<% @messages.each do |message| %>
    <% if message.body %>
        <% user = User.find(message.user_id) %>
        <div class="item">
            <div class="panel-heading">
                <div class="header"><strong><%= user.username %> </strong><%= message.message_time %></div>
                <div class="list">
                    <div class="item">
                        <%= message.body %>
                    </div>
                </div>
            </div>
        </div>
   <% end %>
<% end %>

<%= render 'new_message' %>